* {box-sizing:border-box}


.slideshow-container {
  max-width: 1000px;
  /*水平居中*/
  position: relative;
  margin: auto;
}

.mySlides {
    display: none;
}

/* 左右箭头 */
.prev, .next {
  cursor: pointer;
  /*垂直居中*/
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* 让右箭头放在右面 */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* 划过箭头时，背景颜色变黑 */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* 图片标题 */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* 左上角数字 */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  /*放在左上角*/
  position: absolute;
  top: 0;
}

/* 点 */
.dot {
  cursor:pointer;
  height: 13px;
  width: 13px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* 动画 */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}